
  <!-- Project listing starts here -->
  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>Projects</h2>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Projects Section ======= -->
    <section id="courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <!-- Start of Project item -->
          <div class="project-item col-12 d-flex align-items-stretch">
            <!-- <img src="assets/img/course-1.jpg" class="img-fluid" alt="..." width="30%"> -->
            <div class="course-item" style="width:100%">
              
              <div class="course-content">
                <div class="trainer d-flex justify-content-between align-items-center mb-1">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
                    <span>Creater Name</span>
                  </div>
                  <div class="trainer-rank d-flex align-items-center">
                    <i class="bx bx-user"></i>&nbsp;50
                    
                  </div>
                </div>
              

                <h3><a href="course-details.html">Project Name</a></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque pariatur nam laudantium repellendus illum. Tenetur, aspernatur nostrum! Nam at voluptatem ducimus laborum, officiis itaque, maiores modi autem fuga corporis voluptates.</p>
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Category</h4>
                  <!-- <p class="price">$169</p> -->
                </div>
              </div>
            </div>
          </div> 
          <!-- End Project Item-->

          <!-- Start of Project item -->
          <div class="col-12 d-flex align-items-stretch">
            <!-- <img src="assets/img/course-1.jpg" class="img-fluid" alt="..." width="30%"> -->
            <div class="course-item" style="width:100%">
              
              <div class="course-content">
                <div class="trainer d-flex justify-content-between align-items-center mb-1">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
                    <span>Creater Name</span>
                  </div>
                  <div class="trainer-rank d-flex align-items-center">
                    <i class="bx bx-user"></i>&nbsp;50
                    
                  </div>
                </div>
              

                <h3><a href="course-details.html">Project Name</a></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque pariatur nam laudantium repellendus illum. Tenetur, aspernatur nostrum! Nam at voluptatem ducimus laborum, officiis itaque, maiores modi autem fuga corporis voluptates.</p>
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Category</h4>
                  <!-- <p class="price">$169</p> -->
                </div>
              </div>
            </div>
          </div> 
          <!-- End Project Item-->



        </div>
      </div>
    </section>

  </main>
    <!-- Project listing starts here -->